@page
@model WebApp.Pages.Proveedor.GridModel
@{
}

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            Proveedores
        </div>
        <div class="card-body">
            <h5 class="card-title">Proveedores</h5>

            <table>
                <tr>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>